.volunteers
  .container-fluid.volunteers__container
    .volunteers__filters.jumbotron.p-4
      = form_tag(volunteers_path, method: :get) do
        = text_field_tag :zip, params[:zip], class: 'form-control mb-3', placeholder: 'Zip Code'
        = select_tag :profession_id, options_for_select(@professions), class: 'form-control mb-3'
        = submit_tag 'Search', name: nil, class: 'btn btn-secondary'
    %table.volunteers__results-table.table
      %thead
        %tr
          %th{scope: 'column'}
            Name
          %th{scope: 'column'}
            Profession
          %th{scope: 'column'}
            Phone
          %th{scope: 'column'}
            Zip
          %th{scope: 'column'}
            License #
          %th{scope: 'column'}
            License State
          %th{scope: 'column'}
            Active?
          %th{scope: 'column'}
            Expiration Date
          %th{scope: 'column'}
      %tbody
        - @volunteers.each do |volunteer|
          %tr
            %td= volunteer.name
            %td= volunteer.title
            %td= volunteer.phone
            %td= volunteer.zip
            %td= volunteer.license_number
            %td= volunteer.license_state
            %td
              - if volunteer.license_active
                %svg.bi.bi-check{width: '1em', height: '1em', fill: "currentColor", xmlns: "http://www.w3.org/2000/svg"}
                  %path{'fill-rule': "evenodd", d: "M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z", 'clip-rule': "evenodd"}
              - else
                %svg.bi.bi-x{width: '1em', height: '1em', fill: "currentColor", xmlns: "http://www.w3.org/2000/svg"}
                  %path{'fill-rule': "evenodd", d: "M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z", 'clip-rule': "evenodd"}
                  %path{'fill-rule': "evenodd", d: "M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z", 'clip-rule': "evenodd"}
            %td= volunteer.license_expiration_date
            %td
              = link_to 'Request', '#', class: 'btn btn-primary'

